div.summary{
	width: 70%;
	height: 95px;
	background-color: #d9dde2;
	border: 1px solid gray;

}
div.tips{
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 5px;
	float: left;
	width: 90%;
}
div.a_tip{

	width: 30%;
	float: left;
	height: 100%;
	padding-right: 15px;
}
img.arr_left{
float:left;
height: 100%;
}
img.arr_right{
float: right;
height: 100%;
}

img.tip_img{
	height: 100%;
	float: left;
	padding-right: 10px
}
a.tip_link{

}