* {
    margin: 0;
    padding: 0;
}

div._1khoimarry{
	overflow: hidden;
}
.tren {
    width: 1098px;
    height: 40px;
    border-top: 1px solid gray;
    padding-top: 13px;
    margin: auto;
    margin-top: 100px;
}
a.xt {
    float: right;
    margin-top: -43px;
    text-decoration: none;
    color: gray;
    font-size: 12px;
    font-style: italic;
    padding-bottom: 23px;
}
a.xt:hover {
    color: blue;
}
a.tdto {
    text-align: center;
    display: block;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    color: pink;
    background-image: url(icon.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    padding-bottom: 20px;
}
div.icon {
    width: 700px;
    height: 100px;
    text-align: center;
    margin: auto;
    padding-bottom: 30px;
}
div._1icon {
    width: 44px;
    height: 100px;
    display: inline-block;
    margin-right: 69px;
}
div._1icon.cc{
margin-right: 0px;
}

a.chuaicon {
    width: 44px;
    height: 75px;
    display: inline-block;
    background-image: url(nhieu.png);
    background-position: -116px -35px;
}
._so2 a.chuaicon {
    background-position: -221px -238px;
}
._so3 a.chuaicon {
    background-position: -204px -319px;
}
div._1icon a.link {
    text-decoration: none;
    font-size: 12px;
}
div._1icon:hover a.chuaicon {
    background-position: -212px -137px;
}
div._1icon:hover a.link {
    color: #54eb94;
}

/*css cho sanpham*/
div._1sanpham {
    width: 352px;
    height: 437px;
    margin-right: 32px;
    float: left;
}
div._1sanpham:nth-child(3) {
    margin-right: 0px;
}
div.sanpham {
    width: 1120px;
    height: 435px;
    margin: auto;
    overflow: hidden;
}
div._1sanpham a.sp-link {
    display: block;
    font-weight: bold;
    font-size: 22px;
    font-family: tahoma;
    text-decoration: none;
    margin-bottom: 10px;
    color: black;
}
div._1sanpham a.sp-link:hover{
	color: #31e2f7;
}
div._1sanpham p.sp-mota {
    font-size: 22px;
}