* {
    margin: 0;
    padding: 0;
}
.tren {
    width: 700px;
    height: 40px;
    border-top: 1px solid gray;
    padding-top: 13px;
    margin: auto;
    margin-top: 100px;
}
a.xt {
    float: right;
    margin-top: -43px;
    text-decoration: none;
    color: gray;
    font-size: 12px;
    font-style: italic;
    padding-bottom: 23px;
}
a.xt:hover {
    color: blue;
}
a.tdto {
    text-align: center;
    display: block;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    color: pink;
    background-image: url(icon.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    padding-bottom: 20px;
}
div.icon {
    width: 700px;
    height: 100px;
    text-align: center;
    margin: auto;
}
div._1icon {
    width: 44px;
    height: 100px;
    display: inline-block;
    padding-right: 10px;
}
div._1icon div.chuaicon {
    width: 44px;
    height: 75px;
    display: inline block;
    background-image: url(nhieu.png);
    background-position: -116px -35px;
}
div._1icon._so2 div.chuaicon{
	
}





div._1icon a.link {
    text-decoration: none;
    font-size: 12px;
}
div._1icon:hover div.chuaicon {
    background-position: -212px -137px;
}
div._1icon:hover a.link {
    color: #54eb94;
}