/*div.summary{
	border-bottom: 4px solid #414141;

}*/

div.tieude {
    font-family: 'PT Sans', sans-serif;
    border-bottom: 4px solid orange;
    color: #fc7b7b;
}
div.tieude h2 {
    position: relative;
    display: inline-block;
    background-color: white;
    top: 35px;
    left: 35px;
    padding-left: 10px;
    padding-right: 10px;
}
div.tips {
    width: 100%;
    margin-top: 20px;
    float: left;
}
div.a_tip {
    padding-right: 10px;
    float: left;
    width: 24%;
    padding-bottom: 20px;
}
img.tip_img {
    width: 100%;
    padding-bottom: 20px;
    padding-right: 20px;
}
a.tip_link {

    font-family: 'Open Sans Condensed', sans-serif;
    text-decoration: none;
    font-weight: bold;
}