div.content {
    width: 456px;
    height: 970px;
    border-left: 28px solid #9c9898f0;
    border-right: 16px solid #9c9898f0;
    border-top: 28px solid #9c9898f0;
    border-bottom: 16px solid #9c9898f0;
}
div.content img {
    width: 438px;
    height: 664px;
    border: 4px solid white;
}
div.content_duoi {
    width: 427px;
    height: 150px;
    padding-left: 10px;
    display: block;
    border-bottom: 1px dashed #9c9898f0;
    margin-left: 10px;
    margin-right: 10px;
}
div.tacgia {
    width: 427px;
    height: 60px;
    border-bottom: 1px dashed #9c9898f0;
}
div.tacgia img {
    width: 40px;
    height: 40px;
    float: left;
    padding-right: 10px;
}
div.tacgia p {
    font-size: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 25px;
}
}
div.content_duoi a {
    text-decoration: none;
    font-size: 23px;
    font-weight: bold;
    color: black;
    font-family: 'Roboto', sans-serif;
}
div.content_duoi p {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}